<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Employee Info
        </div>
        <div class="card-body">
          <h5 class="card-title">Employees</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#Employee Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Middle Name</th>
                <th scope="col">Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees" (click)="selectEmployee(employee)">
                <th scope="row">{{employee.employeeId}}</th>
                <td>{{employee.firstName}}</td>
                <td>{{employee.middleName}}</td>
                <td>{{employee.lastName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <form #form="ngForm">
          <div class="card-header">
            Employee Details
          </div>
          <div class="card-body" *ngIf="currentEmployee; else noSelectedEmployee">
              <div class="row">
                <div class="col-4">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" required name="firstName" [(ngModel)]="currentEmployee.firstName" class="form-control" id="firstName" placeholder="Employee First Name">
                </div>
                <div class="col-4">
                  <label for="middleName" class="form-label">Middle Name</label>
                  <input type="text" name="middleName" [(ngModel)]="currentEmployee.middleName" class="form-control" id="middleName" placeholder="Employee Middle Name">
                </div>
                <div class="col-4">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" name="lastName" [(ngModel)]="currentEmployee.lastName" type="text" class="form-control" id="lastName" placeholder="Employee First Name">
                </div>
              </div>
              <div class="row">
                <div class="col-6 mt-3">
                  <label for="employeeId" class="form-label">Employee Id</label>
                  <input type="text" name="employeeId" [(ngModel)]="currentEmployee.employeeId" class="form-control" id="employeeId" placeholder="Employee Id">
                </div>
                <div class="col-6 mt-3">
                  <label for="dateOfBirth" class="form-label">Birth date</label>
                  <input type="date" name="dateOfBirth" [(ngModel)]="currentEmployee.dateOfBirth" class="form-control" id="dateOfBirth">
                </div>
              </div>
              <div class="row">
                <div class="col-6 mt-3">
                  <label class="form-label">Gender</label><br>
                  <input type="radio" value="male" name="gender" [(ngModel)]="currentEmployee.gender" > Male
                  <input type="radio" value="female" name="gender" [(ngModel)]="currentEmployee.gender" > Female
                </div>
                <div class="col-6 mt-3">
                  <label class="form-label">Status</label><br>
                  <select class="form-select" name="maritalStatus" [(ngModel)]="currentEmployee.maritalStatus">
                    <option value="true">Married</option>
                    <option value="false">Single</option>
                  </select>
                </div>
              </div>
          </div>
          <ng-template #noSelectedEmployee>
            <div class="card-body">
              Select an Employee
            </div>
          </ng-template>
          <div class="card-footer" *ngIf="currentEmployee">
            <div class="row">
              <div class="col-4">
                <button type="button" [disabled]="form.invalid" class="btn btn-success" (click)="saveEmployeeDetails()">Save</button>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-secondary" (click)="resetEmployeeDetails()">Reset</button>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-warning" (click)="cancelEmployeeDetails()">Cancel</button>
              </div>
            </div>        
          </div>
        </form>
      </div>


    </div>
  </div>  
</div>
